@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

html {
  font-family: "Nunito", sans-serif;
  background-image: url(./images/bg.avif);
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  overflow: hidden;
}

.todo-list {
  width: 90%;
  margin: auto;
  height: auto;
  padding: 10px;
  background-color: hsl(180, 98%, 51%, 0.2);
}

h3 {
  font-style: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(180, 98%, 51%, 0.5);
  color: #09fcfc;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
}

.add-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(180, 98%, 51%, 0.5);
  position: relative;
}

#notification {
  position: absolute;
  color: #fff;
  background-color: hsl(120, 100%, 25%);
  padding: 10px 10px;
  border-radius: 5px;
  width: 50%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  display: none;
}

.input-task {
  outline: 0;
  border: 0;
  width: 90%;
  background-color: inherit;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.input-task::placeholder {
  font-size: 20px;
}

.fa-arrow-left {
  margin-right: 10px;
  cursor: pointer;
  font-size: 2em;
  color: hsl(180, 98%, 51%, 0.6);
}

.fa-arrow-left:hover {
  color: hsl(180, 98%, 51%, 1);
}

.no-tasks {
  font-size: 1.3em;
  color: #09fcfc;
  text-align: center;
}

.input-display {
  border: 0;
  outline: 0;
  font-size: 17px;
  cursor: auto;
  background-color: inherit;
  color: hsl(180, 98%, 51%, 0.7);
  width: 100%;
}

.input-display:focus {
  color: hsla(133, 100%, 50%, 0.5);
  font-style: italic;
}

.completed {
  text-decoration: line-through;
}

.tasks-list {
  list-style: none;
  padding-left: 10px;
}

.tasks-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid hsl(180, 98%, 51%, 0.3);
  padding-left: 0;
}

.task {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 10px;
  margin-bottom: 10px;
}

.fa-trash-can {
  cursor: pointer;
  font-size: 1.3em;
}

.fa-trash-can:hover {
  color: red;
}

.footer {
  background-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clear-tasks {
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  background-color: #fff;
}

#clear-tasks:hover {
  color: red;
}

@media screen and (min-width: 768px) {
  .todo-list {
    width: 60%;
  }
}
