@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

html {
  font-family: "Nunito", sans-serif;
  background-color: #e5ffef;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.todo-list {
  width: 70%;
  margin: auto;
  height: auto;
  box-shadow: 5px 5px 5px 2px #277647;
  padding: 10px;
  border-radius: 10px;
  background-color: #b4cc4e;
}

h3 {
  font-style: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #4b0c3b;
  color: #4b0c3b;
  font-weight: bolder;
  font-size: 1.5em;
}

.add-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #4b0c3b;
}

.input-task {
  outline: 0;
  border: 0;
  width: 90%;
  padding: 15px;
  background-color: inherit;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
}

.input-task::placeholder {
  font-style: italic;
  font-size: 14px;
}

.fa-arrow-left {
  margin-right: 10px;
  cursor: pointer;
}

.input-display {
  border: 0;
  outline: 0;
  font-size: 16px;
  cursor: auto;
  background-color: inherit;
}

.completed {
  text-decoration: line-through;
}

.tasks-list {
  list-style: none;
  padding-left: 10px;
}

.tasks-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ffc0ef;
  padding-left: 0;
}

.task {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 10px;
  margin-bottom: 10px;
}

.fa-trash-can {
  cursor: pointer;
}

.fa-trash-can:hover {
  color: red;
}

.footer {
  background-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clear-tasks {
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 100%;
  height: 2em;
  font-size: 1.5em;
  background-color: #b891b0;
}

@media screen and (min-width: 768px) {
  .todo-list {
    width: 60%;
  }
}
